
<link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/material/easyui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/icon.css}">
<style>
body{width: 100%;height: 100%;margin: 0px;padding: 0px;}
</style>
<form id="data_save_form">
	<table style="width: 100%;padding-top: 15%">
		<tr>
			<td width="25%"></td>
			<th>账号</th>
			<td>
				<input type="hidden" name="id" th:attr="value=${update_data_map?.id}"/>
				<input class="easyui-textbox" data-options="iconCls:'icon-man'" th:attr="value=${update_data_map?.username}" name="username" style="width:350px">
			</td>
			<td width="25%"></td>
		</tr>
		<tr>
			<td width="25%"></td>
			<th>密码</th>
			<td><input class="easyui-textbox" data-options="iconCls:'icon-lock',type:'password',prompt:'*******'" name="password" th:attr="value=${update_data_map?.password}" style="width:350px"></td>
			<td width="25%"></td>
		</tr>
		<tr>
			<td width="25%"></td>
			<th>备注</th>
			<td><input class="easyui-textbox" data-options="multiline:true,height:100" name="userdesc" style="width:350px" th:attr="value=${update_data_map?.userdesc}"></td>
			<td width="25%"></td>
		</tr>
		<tr>
			<td width="25%"></td>
			<td colspan="2" align="center">
				<a href="javaScript:;" onclick="javaScript:data_save_func();" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">提交</a>
				<a href="javaScript:;" onclick="javaScript:back_url();" class="easyui-linkbutton" data-options="iconCls:'icon-undo'">返回</a>
			</td>
			<td width="25%"></td>
		</tr>
	</table>
</form>
<script type="text/javascript" th:src="@{/js/easyui/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript">
$.fn.serializeObject = function() {
  var o = {};
  var a = this.serializeArray();
  $.each(a, function() {
      if (o[this.name] !== undefined) {
          if (!o[this.name].push) {
              o[this.name] = [o[this.name]];
          }
          o[this.name].push(this.value || '');
      } else {
          o[this.name] = this.value || '';
      }
  });
  return o;
};
function data_save_func() {
	$.ajax({
        type : "POST",
        url : "/console/user/save.html",
        data : $("#data_save_form").serializeObject(),
        dataType:"json",
        success : function(result) {
            if(result.code == 1) {
            	parent.showSuccess(result.msg);
            	back_url();
            }
            else {
            	parent.showError(result.msg);
            }
        },
        error : function(e){
            parent.showError("数据提交到服务器失败");
        }
    });
}

function back_url() {
	self.location.href = "/console/user/index.html";
}
</script>
