<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>lazyMQ-console</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" th:href="@{/js/layui/css/layui.css}" />
<style type="text/css">
.layui-layout-admin .layui-body{bottom:0}
.layui-tab-content{padding: 0px;}
.layui-tab{margin: 0px;}
</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">lazyMQ</div>
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item"><a href="https://github.com/zhaopengprojcet/lazyMq/tree/master/lazyMQ-console" target="_blank">github</a></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<ul class="layui-nav layui-nav-tree" lay-filter="test">
					<li class="layui-nav-item" onclick="javaScript:addCenterBodyTab('已注册账号','/console/user/index.html','1');"><a href="javaScript:;"><i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;已注册账号</a></li>
					<li class="layui-nav-item" onclick="javaScript:addCenterBodyTab('已注册客户端','/console/client/index.html','1');"><a href="javaScript:;"><i class="layui-icon layui-icon-chart-screen"></i>&nbsp;&nbsp;注册客户端</a></li>
					<li class="layui-nav-item" id="wait"><a href="javaScript:;"><i class="layui-icon layui-icon-loading-1"></i>&nbsp;&nbsp;等待队列</a></li>
					<li class="layui-nav-item" id="retry"><a href="javaScript:;"><i class="layui-icon layui-icon-loading"></i>&nbsp;&nbsp;重试队列</a></li>
					<li class="layui-nav-item" id="discarded"><a href="javaScript:;"><i class="layui-icon layui-icon-fonts-del"></i>&nbsp;&nbsp;死信队列</a></li>
					<li class="layui-nav-item" id="topic"><a href="javaScript:;"><i class="layui-icon layui-icon-engine"></i>&nbsp;&nbsp;topic维护</a></li>
				</ul>
			</div>
		</div>

		<div class="layui-body" id="layui-body"  style="overflow: hidden;">
			<div class="layui-tab" id="center-body" lay-filter="center-body" lay-allowClose="true">
			  <ul class="layui-tab-title">
			  	<li class="layui-this">主页</li>
			  </ul>
			  <div class="layui-tab-content" id="layui-tab-content" style="overflow: hidden;">
			  	<div class="layui-tab-item layui-show" id="layui-index-center">
			  		<img alt="" src="/js/sys/lazyMQ-p.png" width="100%" height="100%">
			  	</div>
			  </div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/layui/layui.js}"></script>
<script>
	var element ;
	var $ ;
	layui.use(['element','jquery','layer'], function() {
		element = layui.element;
		$ = jQuery = layui.jquery;
		FrameWH();
		
		$(window).resize(function () {
            FrameWH();
        });

		FrameWH();
	});
	
	function addCenterBodyTab(title , url , _id) {
		element.tabAdd("center-body", {
		  title: title
		  ,content: "<iframe frameborder=\"0\" height=\"100%\" width=\"100%\" src=\""+url+"\"></iframe>"
		  ,id: _id
		});   
		element.tabChange("center-body", _id);
		FrameWH();
	}
	
	function FrameWH() {
        var h = $(window).height()-100;
        $("iframe").css("height",h+"px");
        $("#center-body").css("height",$("#layui-body").height() + "px");
        $("#layui-tab-content").css("height",($("#center-body").height() - 40) + "px");
        $("#layui-index-center").css("height",($("#center-body").height() - 40) + "px");
    }
	
	function showSuccess(msg) {
		layui.layer.msg(msg);
	}
	function showError(msg) {
		layui.layer.open({
		  title: '<span style="color:red">错误提示</span>'
		  ,content: msg
		}); 
	}
	function showConfig(msg , _url , _data , _func) {
		layui.layer.open({
			 title: '<span>操作提示</span>',
			 btn:['确定','取消'],
			 content: msg,
		     yes: function(index, layero){
			     layui.layer.close(index); 
		    	 $.ajax({
		    	        type : "POST",
		    	        url : _url,
		    	        data : _data,
		    	        dataType:"json",
		    	        success : function(result) {
		    	            if(result.code == 1) {
		    	            	parent.showSuccess(result.msg);
		    				     _func();
		    	            }
		    	            else {
		    	            	parent.showError(result.msg);
		    	            }
		    	        },
		    	        error : function(e){
		    	            parent.showError("数据提交到服务器失败");
		    	        }
		    	    }); 
		     }
		}); 
	}
</script>
</html>